/* タグ単位 */
input[type="checkbox"] {
  width: min(20vw,24px);
  height: min(20vw,24px);
  margin-right: 10px;
}

input[type="checkbox"]:checked {
  width: min(20vw,24px);
  height: min(20vw,24px);
  margin-right: 10px;
}

/* 帯単位 */
.sac-page {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  z-index:-1;
}

.main-wrapper {
  width: 100%;
  height: 100%;
  max-height: none;
  max-width: 800px;
  background-color: #123358;
}

.navbar {
  background-color: #123358;
}

.w-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}

.first-box {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
}

.second-box {
  width: 100%;
  background-color: #ddd;
}

.third-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.check-table-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 60px;
  padding-left: 60px;
}

.side-count-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 60px;
  padding-left: 60px;
}

.side-count-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.avility-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.ability-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.side-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

/* 部品単位 */
.w-nav-brand {
  position: relative;
  float: left;
  text-decoration: none;
  color: #333333;
  padding-left: 2vw;
}
.h1-txt {
  margin-top: 10px;
  color: #fff;
  font-size: 16px;
}

.w-nav-menu {
  position: relative;
  float: right;
}
.openbtn{
  color: #e0e9ff;
  position:absolute;
    z-index: 9999;/*ボタンを最前面に*/
  top:10px;
  right: 10px;
  cursor: pointer;
    width: 50px;
    height:50px;
}
.openbtn span{
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background-color: #e0e9ff;
  width: 45%;
}
.openbtn span:nth-of-type(1) {
  top:15px; 
}
.openbtn span:nth-of-type(2) {
  top:23px;
}
.openbtn span:nth-of-type(3) {
  top:31px;
}
a {
  text-decoration: none;
  white-space: nowrap;
}
#g-nav {
  background: rgb(193, 200, 201);
  position: absolute;
  z-index: 5000;
  top: 50px;
  right: 0;
  overflow-x: hidden;
  width: 0;
  height: 50vh;
  transition: .5s;
}
#g-nav.open-menu {
  width: 400px;
}
.menu_title {
  text-align: center;
  white-space: nowrap;
}
.menu_list {
  color:rgb(84, 153, 233);
  font-size: 24px;
  line-height: 3;
  text-align: left;
}
#main_cover{
  position: fixed;
  top: 0px;
  width: 0;
  height: 100%;
  visibility: hidden;
  z-index: -1;  
  -webkit-transition: .3s;
  transition: .3s;
}
#main_cover.open-menu{
  width:100%;
  visibility: visible;
  background:rgba(0,0,0,0.4);
  z-index: 100;
}

.check-table-box {
  z-index: 9999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: none;
  width: 95%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.check-table-box.open-menu {
  display: flex;
}
.player_table {
  position: absolute;
  background: darksalmon;
  margin-top: 40%;
  margin-left: 5%;
}
#player_table_th {
  font-size: 20px;
  padding: 2%;
}
.player_table_td {
  width: 7%;
  height: 10%;
  text-align: center;
  border: 2px solid  black;
}
.btn_td {
  text-align: center;
}
.pop_btn {
  font-size: 20px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.h2-turn {
  margin-top: 0px;
  margin-bottom: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #d11e1e;
  color: #fff;
  font-size: 26px;
  text-align: center;
  transition : all 0.5s ease 0s;
}

.side-count-number {
  display: inline-block;
  padding: 10px 12px;
  border-radius: 8px;
  background-color: #d11e1e;
  color: #fff;
  font-size: 36px;
  font-weight: 700;
}

.side-count-number.second {
  background-color: #3657be;
}

.side-count-label {
  padding: 6px 12px;
  border-bottom: 1px solid #d11e1e;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #d11e1e;
  font-size: 16px;
  font-weight: 700;
}

.side-count-label.second {
  border-bottom-color: #3657be;
  color: #3657be;
}

.player-sig {
  display: inline-block;
  margin-right: 12px;
  padding: 2px 12px;
  border-radius: 10px;
  background-color: #fff;
  color: #d11e1e;
  font-size: 26px;
}

.check_table {
  font-size: min(50vw,16px);
  margin-left: auto;
  margin-right: auto;
  border-collapse: separate;
  border-spacing: 30px 20px;
}

.once-check {
  white-space: nowrap;
  padding: 12px 20px;
  width: 40%;
  font-weight: bold;
  color: white;
  border-radius: 6px;
}

.turn-number {
  margin-right: 12px;
  font-size: 38px;
}

.av-txt {
  margin-right: 20px;
  font-size: 18px;
}

.updown-btn {
  margin-right: 12px;
  margin-left: 12px;
  padding: 3px 10px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 400;
}

.av-count-txt {
  padding: 10px;
  border: 1px dotted #000;
  border-radius: 6px;
  font-size: 32px;
  font-weight: 700;
}

.side-txt {
  margin-right: 20px;
  font-size: 20px;
  font-weight: 700;
}

.side-count-txt {
  display: inline-block;
  padding: 10px 12px;
  border-radius: 8px;
  background-color: #d11e1e;
  color: #fff;
  font-size: 36px;
  font-weight: 700;
}
.side-count-txt.second {
  background-color: #3657be;
}

.side-down-btn {
  margin-right: 16px;
  margin-left: 16px;
  padding: 3px 10px;
  border-radius: 5px;
  background-color: #7c7c7c;
  font-size: 16px;
}
.side-up-btn {
  margin-right: 16px;
  margin-left: 16px;
  padding: 3px 10px;
  border-radius: 5px;
  background-color: #7c7c7c;
  font-size: 16px;
}

.goback-btn {
  margin-right: 20px;
  margin-left: 20px;
  border-style: solid;
  border-width: 3px;
  border-color: #7c7c7c;
  border-radius: 10px;
  background-color: #ddd;
  color: #123358;
}

.go-btn {
  margin-right: 24px;
  margin-left: 24px;
  padding: 20px 30px;
  border-style: solid;
  border-width: 6px;
  border-color: #fff;
  border-radius: 16px;
  background-color: #f7c204;
  color: #123358;
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
}

.space {
  margin-left: 10vw;
}
